<h1>お酒一覧</h1>
<table class="table table-hover">
  <thead class="thead-default">
    <tr>
      <th class='col'>名前</th>
      <th class='col'>値段</th>
      <th class='col'>在庫状態</th>
    </tr>
      <% @liquors.each do |liquor| %>
    <tr>
      <%= cell(:liquors, liquor)%>
    </tr>
  <% end %>
  </thead>
</table>

<%= link_to "New Liquor", new_liquor_path %>
