<h1>お酒一覧</h1>
  <div class="max-w-2xl mx-auto">
    <div class="bg-white shadow-md border border-gray-200 rounded-lg max-w-sm dark:bg-gray-800 dark:border-gray-700">
      <% @liquors.each do |liquor| %>
        <%= cell(:liquors, liquor) %>
      <% end %>
    </div>
  </div>
<%= link_to 'New Liquor', new_liquor_path %>
