<h1>Liquors#index</h1>
<ul>
  <% @liquors.each do |liquor| %>
    <li>
      <%= link_to liquor.name, liquor %>
    </li>
    <li>
      <%= liquor.price %>
    </li>
  <% end %>
</ul>

<%= link_to "New Liquor", new_liquor_path %>
